/app/tmp/
/app/Test/
/stats
/nbproject

*.zip
*.bak

/app/webroot/img/activities/
/app/webroot/files/
/app/webroot/img/thumbs/gallery/
/app/webroot/img/thumbs/pages/
/myapp/
/app/Config/bootstrap.php
/app/webroot/img/thumbs/question/
/app/Config/database.php
/app/Config/core.php
/app/Config/dotpay.php
/app/webroot/dotpay_response.txt
